## Operators

is a symbol that performs a specific action on data. Operators act on operands

- Arithmetic Operators
- Comparison Operators
- Logical Operators
- Assignment Operators
- Membership Operators
- Identity Operators

1. **Arithmetic Operators**
   - Addition
   - Subtraction
   - Multiplication
   - Division
   - Floor Division
   - Modulus
   - Exponentiation

In [8]:
a=10
b = 5

add_result=a+b  #addiiton
sub_result=a-b  #substraction 
mult_result=a*b #multiplication
div_result=a/b  #division
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

2. **Comparison Operators**

   - Equal to
   - Not equal to
   - Greater than
   - Less than
   - Greater than or equal to 
   - Less than or equal to

In [9]:
# == Equal to
a=10
b=10

a==b

True

In [13]:
# Not Equal to !=
lower = "tajamul"
upper = "TAJAMUL"

str1 != str2

True

In [14]:
# greater than >
num1=45
num2=55

num1>num2

False

In [15]:
## less than <
print(num1<num2)

True

In [16]:
#greater than or equal to
number1=45
number2=45

print(number1>=number2)

True

In [17]:
#less than or equal to
number1=44
number2=45

print(number1<=number2)

True

3. **Logical Operators**

   - AND
   - OR
   - NOT

In [39]:
## And
X=True
Y=True

X and Y == True

True

In [40]:
## And
X=True
Y=False

X and Y == True

False

In [41]:
## OR
X = False
Y = True

X or Y == True

True

In [42]:
# Not operator
X=False
not X

True

4. **Assignment Operator**

Used to assign values to variables.

- +=, 
- -=, 
- *=, 
- /=, 
- %=, 
- **=, 
- //=

In [7]:
A = 20 
A += 1  # Avoid mentioning A = A + 1
A

21

5. **Membership Operator**

Used to test if a value is part of a sequence

- in
- not in

In [9]:
a = [1,2,3,4]

2 not in a

False

6. **Identity Operators**

Used to compare memory locations of two objects.
- is
- is not

In [14]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a == c)   # True, because a and c have the same values.
print(a is c)   # False, because a and c are different objects in memory.
print(a is b)   # True, because a and b refer to the same object.

True
False
True